.tituloForms {
    text-align: center;
}

.textForms {
    color: black;
}

.contentForms {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 6%;
}

.contentForms > form {
    width: 90%;
    padding: 4%;
    color: black;
}

label {
    font-size: 1.2vw;
}

input {
    margin: 3% 0%;
}

.backgroundColorForms{
    color: white;
    background-color: #fff;
}

