.carouselLocal {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.divMedio > video {
    width: 170%;
    height: 170%;
}

.divMedio > h3 {
    width: 80%;
    height: 12%;
    margin-top: 10%;
    font-size: 2.8vw;
    border-bottom: 1px solid;
}
.divMedio > p {
    width: 80%;
    height:45% ;
    padding: 5%;
}

.divMedio > img {
    width: 110%;
    height:160%;
    display: inline;
    box-shadow: 10px 10px 7px 10px rgba(0, 0, 0, 0.2);
}


.gallery {
    width: 100vw;
}


.sectionMargin {
    display: flex;
    justify-content: center;
}

.carouselDos{
    width: 85%;
    height: 89%;
    margin: 2%
}

.alignText{
    font-size: 1.5vw;
    text-align:start;
}
.alignText > h5{
    font-size: 3.4vw;
    text-align:start;

}
.alturaCarouselDos {
    height: 100%;
    display: flex;
}


.mapa {
    width: 100%;
    height: 100%;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}


.tabla > tr :first-child {
    font-weight: bold;
}

.tabla > tr :nth-child(5n){
    font-weight: bold;
}

.accordion {
    margin: 2%;
}

.boxShadow {
    box-shadow: 10px -5px 7px 1px rgb(0 0 0 / 20%);
}

